.swiper-left ,.swiper-left2,.swiper-left3,.swiper-left14,.swiper-left5,.swiper-left6,
.swiper-left7,.swiper-left8
{
    background:linear-gradient(88deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    position: absolute;
    height: 100%;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    z-index: 20;
   
}
.swiper-right,.swiper-right2,.swiper-right3,.swiper-right14,.swiper-right5,.swiper-right6,
.swiper-right7,.swiper-right8
{
    background:linear-gradient(269.25deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    position: absolute;
    height: 100%;
    right: 0;
    width: 3%;
    display: flex;
    justify-content:center;
    font-size: 22px !important;
    z-index: 20;
    align-items: center;
    font-size: 0px;
    color: white;
}

.slider,.slider2,.slider3,.slider4,.slider5,.slider6,.slider7,.slider8
{
    width:fit-content;
    /* background-color: purple; */
    display: flex;
    column-gap: 8px;
    padding: 10px;
    padding-left: 0px;
    pointer-events: none;
   transition: .8s ease-in-out;
}
.slider7,.slider8{
    padding-top: 0px;
}
.slider2 .movie,.slider6 .movie{
    width: 175px;
}
.video-card1 {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .brands1{
    width: 100%;
    display: flex;
    padding: 10px 46px;
    padding-right: 0px;
    flex-direction: column;
  }
.brand1 
{
    width: 276px;
    height: 155px;
    border-radius: 7px;
    transition: all 0.4s linear;
}
.brand1:hover{
    transform: scale(1.2);
}
.brand1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.popular{
    display: flex;
    column-gap: 4px;
    margin-top: 10px;
    padding-left: 10px;
    transition: .8s ease-in-out;
}
#channels{
    margin-right: 10px;
}
#StarPlus{
    height: 37px;
    margin-bottom: 7px;
}
.slider8 .movie{
    width: 178.2px;
}
#bagheera1{
    top: 197px;
}
#justice{
  top: 141.5px;
}
#moksha{
    top: 176.2px;
}
#crew{
    top: 218px;  
}
#m24{
    top: 187px;
}
#doremon{
    top: 197px;
}
.movies-section-header{
    margin-top: 23px;
}
.slider2{
    column-gap: 43px;
    padding-left: 42px;
}
.slider2 .movie{
    width: 176px;
}
.top{
    top: 179.8px;
}
.top10{
    top: 179.7px;
}